/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilos del contenedor de login */
.login-container, .dashboard-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2, h1 {
    margin: 0 0 20px;
    color: #333;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5c67f2;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #4b53d1;
}

a {
    color: #5c67f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Estilos para el contenedor de index */
.index-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    margin: auto;
}

.index-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.index-container p {
    color: #666;
    margin-bottom: 20px;
}

/* Estilo del botón */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5c67f2;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    background-color: #4b53d1;
}
