<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Reservas</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <meta name="username" th:content="${usuario.nombreUsuario}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="dashboard-container">
    <h1>Mis Reservas</h1>

    <table id="misReservasTable">
        <thead>
        <tr>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="errorMessageContainer"></div>

    <a href="/crear-reserva" class="btn">Nueva Reserva</a>
</div>

<script src="/JS/mis-reservas.js"></script>
</body>
</html>